include ./layouts/header.jade

main
	div#add_tags_modal.modal
		div.modal-content
			row.section
				h4.center You want to have a new #tag ?
				p Search for a tags and we will add it to you !
				form.col
					row
						div.input-field.row
							input#new_tag.validate(type="text")
							label Tag
						div#progress_new_tag.progress(style="display: none")
							div.indeterminate
						div.center
							button#submit_new_tags.btn Add
	div.row
		div.container
			if user.picture
				img.circle.responsive-img.profilepic.center-block(src=user.picture)
			else
				img.circle.responsive-img.profilepic.center-block(src="/img/default_avatar.jpg")
			form.col.s12(id="profile_form")
				row
					div.input-field.col.s12
						i.material-icons.prefix email
						input#email_profile.validate(type="email", value=user.mail)
						label(for="email_profile") Email
					div.input-field.col.s6
						i.material-icons.prefix lock
						input#password_profile.validate(type="password")
						label(for="password_profile") Old Password
					div.input-field.col.s6
						i.material-icons.prefix lock
						input#oldpassword_profile.validate(type="password")
						label New Password
					div.input-field.col.s6
						i.material-icons.prefix assignment_ind
						input#firstname_profile.validate(type="text", value=user.firstname)
						label Firstname
					div.input-field.col.s6
						i.material-icons.prefix assignment_ind
						input#lastname_profile.validate(type="text", value=user.lastname)
						label Lastname
					div.input-field.col.s6
						i.material-icons.prefix face
						select#gender_profile.multiple
							if (user.gender == "MEN")
								option.selected MEN
								option WOMEN
							else if user.gender == "WOMEN"
								option.selected WOMEN
								option MEN
							else
								option.disabled.selected Choose
								option MEN
								option WOMEN
						label Gender
					div.input-field.col.s6
						i.material-icons.prefix accessibility
						select#orientation_profile.multiple
							if (user.orientation == "HOMOSEXUAL")
								option.selected HOMOSEXUAL
								option BISEXUAL
								option HETEROSEXUAL
							else if user.orientation == "HETEROSEXUAL"
								option.selected HETEROSEXUAL
								option BISEXUAL
								option HOMOSEXUAL
							else if user.orientation == "BISEXUAL"
								option.selected BISEXUAL
								option HOMOSEXUAL
								option HETEROSEXUAL
						label Orientation
					div.input-field.col.s12
						h6 Tags
						div#tags_list.card
							unless tags.length > 0
								p Choose your interest by picking tags
							each val in tags
								div.chip(id=val.id) #{val.name}
									i.material-icons(onclick="delete_chip(this);") close
							a#add_tags.btn-floating.waves-effect.waves-light.red.blue.right
								i.material-icons add

include ./layouts/footer.jade
